<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head data-th-replace="~{fragments/template :: head}"></head>

<body>

	<header data-th-replace="~{fragments/template :: header}"></header>

	<aside data-th-replace="~{fragments/template :: aside}"></aside>

	<div class="content">

		<p>
			Bonjour <i th:text="${test}">David</i>. <br>
			Nous sommes le <i th:text="${ #temporals.format( T(java.time.LocalDate).now(), 'dd MMMM YYYY') }">Aujourd'hui</i>.
		</p>

	</div>

	<footer data-th-replace="~{fragments/template :: footer}"></footer>

</body>
</html>
