<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/template.html :: head(title='Error 404')}"></head>

<body>

	<header th:replace="~{fragments/template.html :: header(title='Error 404', content='')}"></header>

	<aside th:replace="~{fragments/template.html :: aside}"></aside>

	<h1>Error 404: We do not have what you're looking for :(</h1>

	<h2>Our specialists are on it</h2>

	<a href="/">Go home now!</a>

	<footer th:replace="~{fragments/template.html :: footer}"></footer>

</body>
</html>
