{{> header}}

<h1>Author: {{title}}</h1>

{{#author}}
    <section>
        <h2>Author firstname: {{firstName}} - lastname: {{lastName}}</h2>
        <p>
            {{description}}
        </p>
    </section>
{{/author}}

{{> footer}}