<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/template.html :: head}"></head>

<body>

	<header th:replace="~{fragments/template.html :: header}"></header>

	<aside th:replace="~{fragments/template.html :: aside}"></aside>

	<p>
		Bonjour <i data-th-text="${ test }">David</i>. <br >
		Nous sommes le <i data-th-text="${ #temporals.format( T(java.time.LocalDate).now(), 'dd MMMM YYYY') }">Aujourd'hui</i>.
	</p>

	<footer th:replace="~{fragments/template.html :: footer}"></footer>

</body>
</html>
